@import "nullstyle.scss";

.main {
	height: 100%;
	background-color: #FFFFFF;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 100px;
	max-width: 1920px;
	
	@media  all and (max-width:1200px) {
			max-width: 970px;
	}
	
	@media  all and (max-width:992px) {
			max-width: 750px;
	
	}
	
	@media  all and (max-width:767px) {
			max-width: none;
	
	}
	
	nav {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background: #242524;
		z-index: 10;
	}
	
	nav .navbar {
		height: 100%;
		max-width: 1400px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 50px;
	}
	nav .navbar .nav-links {
		height: 100%;
		line-height: 70px;
		vertical-align: middle;
	}
	nav .navbar .nav-links .links {
		display: flex;
	}
	nav .navbar .nav-links .links li {
		position: relative;
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0 14px;
	}
	nav .navbar .nav-links .links li a {
		height: 100%;
		color: #fff;
		text-decoration: none;
		white-space: nowrap;
		font-size: 16px;
		font-weight: 500;
		border-bottom: 0px solid transparent;
		transition: all 0.4s ease;
	}
	nav .navbar .nav-links .links li:hover a {
		color: #04ed93;
	}
	nav .navbar .nav-links .links li a hr {
		width: 0px;
		display: hidden;
		border: none;
		border-radius: 70px;
		height: 1.8px;
		background: #04ed93;
		transform: translateY(-1300%);
		transition: all 0.4s ease;
	}
	
	nav .navbar .nav-links .links li:hover a hr {
		display: block;
		width: 100%;
		transition: all 0.4s ease;
	}
	
	nav .navbar .bx-menu,
	nav .navbar .nav-links .sidebar-logo .logo_name,
	nav .navbar .sidebar-logo img,
	nav .navbar .nav-links .sidebar-logo .bx-x {
		display: none;
	}
	
	@media (max-width: 954px) {
		nav .navbar {
		max-width: 100%;
		padding: 0 25px;
		}
		nav .navbar .nav-links .links li {
		padding: 0 10px;
		}
		nav .navbar .nav-links .links li a {
		font-size: 15px;
		}
	}
	@media (max-width: 650px) {
		.main nav .navbar {
		max-width: 100%;
		padding: 0 15px;
		}
		.main nav .navbar .nav-links .links li {
		padding: 0 5px;
		}
		.main nav .navbar .nav-links .links li a {
		font-size: 10px;
		}
	}

	.inform {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-color: #C7B9FF;
		padding: 40px;
		/*margin: 50px  0;*/
		margin-top: 20px;
		@media (max-width: 1020px) {
			.inform {
				display: grid;
				grid-template-columns:none;
				}
				}
		}
	.inform-content {
		padding-top: 30px;
		}
	.photo {
		padding-top: 30px;
		position: relative;
		top: 5px;
		/*min-height: 2em;*/
		}
		.name-text {
		font-size: 20px;
		border: 1px solid rgb(34, 128, 250);
		padding: 15px;
		}
	.education {
		font-size: 20px;
		margin-top: 15px;
		}
	.educationList{
		font-size: 20px;
		padding: 15px;
		border: 1px solid rgb(34, 128, 250);
		margin-top: 15px;
		}
	.educationlinks {
		margin-top: 10px;
		}
		.contacts {
			font-size: 20px;
			padding: 15px;
			border: 1px solid rgb(34, 128, 250);
			margin-top: 15px;
		}
		
	.contacts-body {
			display: flex;
			padding-top: 20px;
			margin-left: 10px;
			margin-bottom: 5px;
		}
	.contacts-body-text {
			margin-left: 5px;
			margin-top: 10px;
		}
		.about {
			font-size: 20px;
			line-height: 30px;
			background-color: #C7B9FF;
			padding: 40px;
			margin: 30px  0;
			ul {
				list-style-type: none;
			}
			ul li {
				position: relative;
			}
			ul li::before {
				color: rgb(34, 128, 250);;
				content:"\2022";
				font-size: 26px;
				font-weight: 700;
				left: -15px;
				position: absolute;
				top: 0;
			}
			.about-text {
				border: 1px solid rgb(34, 128, 250);
				padding-left: 30px;
				padding-bottom: 35px;
				}
			}
			.experience {
				background-color: #C7B9FF;
				padding: 40px;
				margin: 30px  0;
				}
			.experience-text {
				font-size: 18px;
				margin-top: 24px;
				margin-left: 16px;
				}
			.skills {
				background-color: #C7B9FF;
				margin: 50px  0;
				ul {
					list-style-type: none;
				}
				ul li {
					position: relative;
				}
				ul li::before {
					color: #01c278;
					content:"\2022";
					font-size: 26px;
					font-weight: 700;
					left: -15px;
					position: absolute;
					top: 0;
				}
				}
			.skills-text {
				font-size: 20px;
				padding: 15px;
				}
			.skills-list {
				font-size: 18px;
				line-height: 30px;
				padding: 25px;
				margin-top: 15px;
				border: 1px solid rgb(34, 128, 250);
				}
			.skills-list li {
				color: rgb(141, 1, 160);
				}
			.secondary-skills {
				font-size: 18px;
				line-height: 30px;
				padding: 25px;
				margin-top: 30px;
				border: 1px solid #01c278;
				}
			.portfolio {
				background-color: #C7B9FF;
				/*padding: 40px;*/
				margin: 30px  0;
				.portfolio-mobile{
					display: none;
				}
				@media (max-width: 780px) {
					#carouselExampleDark {
				display: none;
					}
					.portfolio-mobile {
					display:block;
					}
					.portfolio-mobile-item{
					padding: 10px;
					display: flex;
					}
					.portfolio-mobile-text{
					margin-left: 5px;
					margin-top: 12px;
					}
				}
				}	
	}

	






